<!DOCTYPE html>
<html style="background: url(background.jpg) no-repeat center center fixed; background-size: cover;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <title>TimeTracker</title>
    <link rel="stylesheet" href="bulma.min.css">
    <link rel="icon" href="favicon.ico">
    <link rel="manifest" href="app.webmanifest">
  </head>
  <body aurelia-app="main">
  </body>
</html>