nav.panel {
    margin-bottom: 5px;
}

div.panel-heading.collapsed {
    border-radius: 6px;
}

div.panel-block,
label.panel-block {
    background-color: #f5f5f5;
    padding: .3em .75em;    
}

div.panel-block table.table {
    width: 100%;
}

span.icon-right {
    float: right;
}

img.clickable-icon {
    cursor: pointer;
    width: 16px;
}

table.table {
    background-color: unset;
}