<template>
    <require from="../spinner.html"></require>
    <require from="./daily-log.css"></require>
    <require from="./log-entry"></require>

    <nav class="panel">
        <div class="panel-heading ${collapsed ? 'collapsed' : ''}">
            <span class="icon">
                <img class="clickable-icon" src="/static/minus.svg" if.bind="!collapsed"
                    click.trigger="toggleCollapsed()">
                <img class="clickable-icon" src="/static/plus.svg" if.bind="collapsed"
                    click.trigger="toggleCollapsed()">
            </span>
            ${header}
            <span class="icon icon-right">
                <img class="clickable-icon" src="/static/day-off.svg" title="Leave Day" if.bind="vacation === 2">
                <img class="clickable-icon" src="/static/half-day-off.svg" title="Half Leave Day"
                    if.bind="vacation === 1">
                <img class="clickable-icon" src="/static/home-office.svg" title="Work Day (in home office)"
                    if.bind="homeoffice">
                <img class="clickable-icon" src="/static/public-holiday.svg" title="Public Holiday"
                    if.bind="publicholiday">
                <img class="clickable-icon" src="/static/sick-leave.svg" title="Sick Leave" if.bind="sickleave">
                <img class="clickable-icon" src="/static/weekend.svg" title="Weekend" if.bind="weekend">
            </span>
        </div>
        <div class="panel-block" if.bind="!collapsed">
            <label class="checkbox" style="padding-left: 0.75em;">
                <input type="checkbox" change.delegate="toggleHomeOffice($event.target.checked)"
                    checked.bind="homeoffice">Home Office
            </label>
            <label class="checkbox ml-6">
                <input type="checkbox" change.delegate="togglePublicHoliday($event.target.checked)"
                    checked.bind="publicholiday">Public Holiday
            </label>
            <label class="checkbox ml-6">
                <input type="checkbox" change.delegate="toggleSickLeave($event.target.checked)">Sick Leave
            </label>
            <div class="select ml-6">
                <select change.delegate="updateVacation($event.target.value)" value.bind="vacation">
                    <option value="0" model.bind="0">No Leave</option>
                    <option value="1" model.bind="1">Leave Day (50 %)</option>
                    <option value="2" model.bind="2">Leave Day (100 %)</option>
                </select>
            </div>
        </div>
        <div class="panel-block" if.bind="!collapsed">
            <table class="table">
                <thead>
                    <tr>
                        <th>Begin</th>
                        <th>End</th>
                        <th>Duration</th>
                        <th>Project</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>${dayStartedAt}</th>
                        <th>${dayEndedAt}</th>
                        <th class="${showWorkingTooMuchWarning ? 'has-text-danger' : ''}">${totalWorkingHours}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr as-element="log-entry" repeat.for="entry of entries" date.bind="header" entry.bind="entry"
                        ondelete.bind="deleteHook" onupdate.bind="updateHook"
                        class="${isAfterBreak(entry) ? 'after-break' : '' & signal:'entries-updated'} ${isOverlapping(entry) ? 'has-background-warning' : '' & signal:'entries-updated'}">
                    </tr>
                    <tr as-element="log-entry" date.bind="header" onadd.bind="addHook"
                        if.bind="!loading && (null == error)"></tr>
                    <tr if.bind="error != null">
                        <td colspan="6" class="has-background-danger">${error}</td>
                    </tr>
                    <tr if.bind="loading">
                        <td colspan="6" class="has-background-light">
                            <spinner></spinner>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nav>
</template>