<template>
    <require from="../spinner.html"></require>
    <require from="./daily-log.css"></require>
    <require from="./log-entry"></require>

    <nav class="panel">
        <p class="panel-heading">
            <span class="icon">
                <img src="/static/minus.svg" if.bind="!collapsed" click.trigger="toggleCollapsed()">
                <img src="/static/plus.svg" if.bind="collapsed" click.trigger="toggleCollapsed()">
            </span>
            ${header}
        </p>
        <a class="panel-block" if.bind="!collapsed">
            <table class="table">
                <thead>
                    <tr>
                        <th>Begin</th>
                        <th>End</th>
                        <th>Duration</th>
                        <th>Project</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>TODO</th>
                        <th>TODO</th>
                        <th>TODO</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr as-element="log-entry" repeat.for="entry of entries" date.bind="header" entry.bind="entry"
                        ondelete.bind="deleteHook"></tr>
                    <tr as-element="log-entry" date.bind="header" onadd.bind="addHook" if.bind="!loading && (null == error)"></tr>
                    <tr if.bind="error != null">
                        <td colspan="6" class="has-background-danger">${error}</td>
                    </tr>
                    <tr if.bind="loading">
                        <td colspan="6" class="has-background-light">
                            <spinner></spinner>
                        </td>
                    </tr>
                </tbody>
            </table>
        </a>
    </nav>
</template>