<template click.trigger="toggleMode()">
    <td>
        <span if.bind="!editMode">${entry.Start}</span>
        <input class="input" type="time" if.bind="editMode" value.two-way="start">
    </td>
    <td>
        <span if.bind="!editMode">${entry.End}</span>
        <input class="input" type="time" if.bind="editMode" value.two-way="end">
    </td>
    <td>
        <span if.bind="!editMode">${entry.Duration}</span>
        <div style="margin-top: 7px;" if.bind="editMode">${duration}</div>
    </td>
    <td>
        <span if.bind="!editMode">${entry.Project}</span>
        <input class="input" style="box-sizing: border-box; width: 100%;" type="text" value.two-way="project"
            list="suggestedProjects" if.bind="editMode">
        <datalist id="suggestedProjects" if.bind="editMode">
            <option repeat.for="project of projectSuggestions" value.bind="project"></option>            
        </datalist>
    </td>
    <td>
        <span if.bind="!editMode">${entry.Description}</span>
        <input class="input" style="box-sizing: border-box; width: 100%;" type="text" value.two-way="description"
            if.bind="editMode">
    </td>
    <td>
        <button class="button" if.bind="editMode">
            <span class="icon">
                <img src="/static/content-save.svg" click.trigger="save()">
            </span>
        </button>
        <button class="button" if.bind="editMode">
            <span class="icon">
                <img src="/static/cancel.svg" click.trigger="reset()">
            </span>
        </button>
    </td>
</template>