<template>
    <td click.trigger="toggleMode()">
        <span if.bind="!editMode">${start}</span>
        <input class="input" type="time" if.bind="editMode" value.two-way="start">
    </td>
    <td click.trigger="toggleMode()">
        <span if.bind="!editMode">${end}</span>
        <input class="input" type="time" if.bind="editMode" value.two-way="end">
    </td>
    <td click.trigger="toggleMode()">
        <span if.bind="!editMode">${duration}</span>
        <div style="margin-top: 7px;" if.bind="editMode">${duration}</div>
    </td>
    <td click.trigger="toggleMode()">
        <span if.bind="!editMode">${project}</span>
        <input class="input" style="box-sizing: border-box; width: 100%;" type="text" value.two-way="project"
            list="suggestedProjects" if.bind="editMode">
        <datalist id="suggestedProjects" if.bind="editMode">
            <option repeat.for="project of projectSuggestions" value.bind="project"></option>
        </datalist>
    </td>
    <td click.trigger="toggleMode()">
        <span if.bind="!editMode">${description}</span>
        <input class="input" style="box-sizing: border-box; width: 100%;" type="text" value.two-way="description"
            if.bind="editMode">
    </td>
    <td>
        <button class="button" if.bind="editMode" click.delegate="save($event)">
            <span class="icon">
                <img src="/static/content-save.svg">
            </span>
        </button>
        <button class="button" if.bind="editMode" click.delegate="reset($event)">
            <span class="icon">
                <img src="/static/cancel.svg">
            </span>
        </button>
        <button class="button" if.bind="!editMode" click.delegate="delete($event)">
            <span class="icon">
                <img src="/static/delete.svg">
            </span>
        </button>
    </td>
</template>