<template>
    <section class="section">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-6 is-vertical is-parent">
                    <div class="tile is-child box">
                        <div class="has-text-centered has-text-weight-bold">Today</div>
                        <canvas id="day"></canvas>
                    </div>
                    <div class="tile is-child box">
                        <div class="has-text-centered has-text-weight-bold">This month</div>
                        <canvas id="month"></canvas>
                    </div>
                </div>
                <div class="tile is-6 is-vertical is-parent">
                    <div class="tile is-child box">
                        <div class="has-text-centered has-text-weight-bold">This week</div>
                        <canvas id="week"></canvas>
                    </div>
                    <div class="tile is-child box">
                        <div class="has-text-centered has-text-weight-bold">This year</div>
                        <canvas id="year"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>